{% extends "index.html" %}

{% block content %}
    <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">First Col</th>
              <th scope="col">Second Col</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Time</th>
              <td>{{ time }}</td>
            </tr>
            <tr>
              <th scope="row">User</th>
              <td>{{ user }}</td>
            </tr>
            <tr>
                <th scope="row">Button</th>
                <td><button type="button" class="btn btn-primary btn-lg">Click</button></td>
            </tr>




          </tbody>
        </table>
    </div>
{% endblock %}
